# Ignore node_modules directory
node_modules/

# Ignore .env files (contains sensitive information)
.env

# Ignore build artifacts
/build

# Ignore client build artifacts
/client/build

# Ignore client node_modules directory
/client/node_modules/

# Ignore server node_modules directory
/server/node_modules/
